<template>
    <conductor-dashboard>
        <div class="container px-6 mx-auto grid">
            <h2
                class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
                Dashboard
            </h2>
        </div>
    </conductor-dashboard>
</template>

<script>
export default {

}
</script>