<template>
  <div
   class="flex h-screen bg-gray-50 dark:bg-gray-900"
   :class="{ 'overflow-hidden': isSideMenuOpen }"
  >
      <side-bar></side-bar>
      <div class="flex flex-col flex-1 w-full">
           <top-bar></top-bar>
           <main>
              <slot></slot>
           </main>
      </div>


  </div>
</template>
<script>
export default {

}
</script>