<template>
    <div>
        <div class="container">
            <div class="forms-container">
                <div class="signin-signup"> 
                    <form action="http://covapp.com:8000/register" method="post" class="sign-up-form row" @submit.prevent="createConductor" enctype="multipart/form-data">
                        <!-- <div class="alert alert-primary" role="alert">
                            Compte créé avec success <small>Redirection vers votre tableau de bord</small>
                        </div> -->
                        <h2 class="title col-12">Créez vous un compte</h2>
                        <div class="col-6">
                          <div class="input-field">
                              <i class="fas fa-user"></i>
                              <input name="nom" id="nom" v-model="nom" type="text" placeholder="Nom" />
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="input-field">
                              <i class="fas fa-user"></i>
                              <input name="prenom" id="prenom" v-model="prenom" type="text" placeholder="Prenom" />
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="input-field">
                              <i class="fas fa-envelope"></i>
                              <input name="email" id="email" v-model="email" type="email" placeholder="Email" />
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="input-field">
                              <i class="fas fa-phone"></i>
                              <input name="telephone" id="telephone" v-model="telephone" type="number" placeholder="Téléphone" />
                          </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <input name="date_naissance" id="date_naissance" v-model="date_naissance" type="date" class="input-field focus:border-blue-600" placeholder="Date de naissance" />    
                            </div>
                        </div>
                        <div class="col-6">
                            <select name="nom" id="sexe" v-model="sexe" class="input-field" aria-placeholder="Sexe">
                                <i class="fas fa-useer"></i>
                                <option>Sexe</option>
                                <option>Male</option>
                                <option>Female</option>
                           </select> 
                        </div> 
                        <div class="col-6">   
                            <h6>Photo de profil</h6>
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input name="photo_profil_path" id="photo_profil_path" @change="getPhotoProfile($event)" type="file" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">
                            <h6>Photo permis de conduire</h6>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                               <input name="photo_permis_path" id="photo_permis_path" @change="getPhotoPermis($event)" type="file" class="form-control ">
                            </div>
                        </div>   
                        <div class="col-6">
                            <h6>Photo du véhicule</h6>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                               <input name="photo_voiture_path" id="photo_voiture_path" @change="getPhotoVoiture($event)" type="file" class="form-control">
                            </div>
                        </div> 
                        <div class="col-6">
                            <h6>Facture d'achat </h6>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                               <input name="photo_facture_achat_path" id="photo_facture_achat_path" @change="getPhotoFacture($event)" type="file" class="form-control">
                            </div>
                        </div>  
                        <div class="col-6">
                          <div class="input-field">
                              <i class="fas fa-user"></i>
                              <input name="nb_places" id="nb_places" v-model="nb_places" type="number" placeholder="Nombre de place disponibles" />
                          </div>
                        </div>    
                        <div class="col-6">
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input name="nom" id="password" v-model="password" type="password" placeholder="Créer un mot de passe" />
                            </div> 
                        </div>              
                        
                        <input type="submit" class="btnn" value="Inscription" />
                    </form>
                    <form action="#" class="sign-in-form">
                          <h2 class="title">Connexion</h2>
                          <div class="input-field">
                              <i class="fas fa-envelope"></i>
                              <input type="email" placeholder="Email" />
                          </div>
                          <div class="input-field">
                              <i class="fas fa-lock"></i>
                              <input type="password" placeholder="Mot de passe" />
                          </div>
                          <input type="submit" value="Connexion" class="btnn solid" />
                    </form>
                </div>
            </div>

            <div class="panels-container">
                <div class="panel left-panel">
                    <div class="content">
                      <h3>Déjà inscrit ?</h3>
                      <p>
                          Veuillez vous connecter
                      </p>
                      <button class="btnn transparent" id="sign-up-btn">
                            Connexion
                      </button>
                    </div>
                    <img src="../../../img/log.svg" class="image" alt="" />
                </div>
                <div class="panel right-panel">
                    <div class="content">
                        <h3>Nouveau ?</h3>
                        <p>
                            Veuillez vous inscrire
                        </p>
                        <button class="btnn transparent" id="sign-in-btn">
                          Inscription
                        </button>
                    </div>
                    <img src="../../../img/register.svg" class="image" alt="" />
                </div>
          </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios';
    export default 
    {
       
        data() {
            return {
                nom: '',
                prenom:'',
                email:'',
                telephone:0,
                date_naissance:'',
                sexe:'',
                photo_profil_path:'',
                photo_permis_path:'',
                photo_voiture_path:'',
                photo_facture_achat_path:'',
                nb_places:0,
                password:''
         
            }
        },
        methods: {
            getPhotoProfile(event){
            this.photo_profil_path = event.target.files[0];                
            },
            getPhotoPermis(event){
                this.photo_permis_path = event.target.files[0];
            },
            getPhotoVoiture(event){
                this.photo_voiture_path = event.target.files[0];
            },
            getPhotoFacture(event){
                this.photo_facture_achat_path = event.target.files[0];
            },
            createConductor(e){
                  e.preventDefault();
                  let currentObj = this;

                  const config = {
                      headers: { 'content-type' : 'multipart/form-data' }
                  }

                  let formData = new FormData();
               
                  formData.append('nom',this.nom);
                  formData.append('prenom',this.prenom);
                  formData.append('email',this.email);
                  formData.append('telephone',this.telephone);
                  formData.append('date_naissance',this.date_naissance);
                  formData.append('sexe',this.sexe);
                  formData.append('password',this.password);
                  formData.append('photo_profil_path',this.photo_profil_path);
                  formData.append('photo_permis_path',this.photo_permis_path);
                  formData.append('photo_voiture_path',this.photo_voiture_path);
                  formData.append('photo_facture_achat_path',this.photo_facture_achat_path);
                  formData.append('nb_places',this.nb_places);
                  axios.post('http://covapp.com:8000/register', formData, config)
                  .then(function (response) {
                      window.location.href = '/conductor/dashboard';
                    
                        //  window.events.$emit('flash', 'Bókun þín hefur verið staðfest!');
                  })
                  .catch(function (error){
                      currentObj.output = error;
                  });
            },          

        },
    }
</script>